<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.laptop.panda_tv">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ui.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".welcome.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".guide.activity.GuideActivity" />
        <activity android:name=".MainActivity" />
        <!--<activity android:name=".ui.home.hudong.activtiy.InteractionActivity" />-->
        <activity android:name=".ui.home.activity.PlayVideoActivity" />
        <!--<activity android:name=".ui.home.hudong.activtiy.InteractionDetailsActivity" />-->
        <activity android:name=".ui.home.activity.BannerActivity" />
        <activity android:name=".ui.home.activity.HomeInteractionDetailsActivity" />
        <activity android:name=".ui.home.personsign.activity.PersonSignActicity" />
        <activity android:name=".ui.home.personsign.activity.MyLoginActivity" />
        <activity android:name=".ui.home.personsign.activity.MyRegisterActivity" />
        <activity android:name=".ui.home.personsign.activity.PersonAgreeMentActivity" />
        <activity android:name=".ui.home.personsign.activity.MyLoginInfoActivity" />
        <!--<activity android:name=".ui.home.personsign.activity.PersonalClipPictureActivity"/>-->

    </application>

</manifest>